$white: #fff;
$gain-boro-white: #dddddd;
$black: #000000;
$charcoal-grey: #4a4a4a;
$dimGrey: #848484;
$grey: #ddd;
$danger: #dc3545;
$transparent: transparent;
$warning: #e88a02;
$themeColor: #72d389;
$chateauGreyColor: #9fa0a2;
$white-smoke: #f5f5f5;
$suva-gray: #919191;
$tenne-blue: #0465c0;
$navyBlue: #0465c0;
$gradient: linear-gradient(to right, #98dcff 10%, #e0f6ff 90%);
$seagull-blue: #8dbed9;
$dodger-blue: #007bff;
$light-cyan: #e1f6ff;
$spindle-blue: #A9C5D7;
$light-medium-cyan: #DCF6FF;
$columbia-blue: #BAE7FF;
$air-force-blue: #5D91AF;
$yellow: rgb(255, 255, 0);
$red: red;
$zircon-grey: #DEE2E6;
$smoke-white: #f0f0f0;
$smoke-light-white: #f7f7f7;
$reef-gold: #dace65;
$light-white: #e8e8e8;
$blue: #3636e0;
$gossamer-green: #3FAA83;
$light-cyan-blue: #C9F0FF;
$onahau-blue: #C9E6F1;
$light-smoke: #fbfbfb;
$gainsboro-white: #e0e0e0;
$sliver-grey: #bfbfbf;
$blue-light: #98dcff;
$white-light: #efefef;
$harley-orange: #D84315;
